{{ if not .IsHome }}
    <div style="border-top: 1px solid #dddddd; margin-top: 16px; margin-bottom: 16px;"></div>
{{ end }}

<div style="text-align: start">
  <h2 style="margin-bottom: 0;">Free Weekly Thought Bites</h2>
  <p>
    Sign up for my Thought Bites - where I share actionable and valuable insights
    on psychology, mental health, business, philosophy from across the web & my
    life, every week, directly to your inbox.
  </p>

  <p>Join me on our journey towards a stronger self.</p>
  <iframe
    src="https://tamzidr.substack.com/embed"
    width="100%"
    height="fit-content"
    style="border: 1px solid #ffffff; background: white"
    frameborder="0"
    scrolling="no"
  ></iframe>
</div>
{{ if ne .Site.Params.hideMadeWithLine true }}© Tamzid Rahman 2023. All rights
reserved.{{ end }}
<div>
  {{ if ne .Site.Params.hideMadeWithLine true }}<a href="{{ "/privacy-policy" | relURL }}">Privacy Policy</a>{{
  end }}
</div>
