<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4087898894324741"
     crossorigin="anonymous"></script>
<!-- Footer Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4087898894324741"
     data-ad-slot="9757092321"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{{ if ne .Site.Params.hideMadeWithLine true }}© Tamzid Rahman 2023. All rights reserved.{{ end }}
<div>
    {{ if ne .Site.Params.hideMadeWithLine true }}<a href="">Privacy Policy</a>{{ end }}
    {{ if ne .Site.Params.hideMadeWithLine true }}<a href="">Cookie Policy</a>{{ end }}
</div>

