{{ define "main" }}
{{ if and (eq .Type "blog") (in .Permalink "/blog/") }}
  {{ if not .Params.menu }}
    <h1>{{ .Title }}</h1>
    <p>
      <i>
        <time datetime="{{ .Date.Format "2006-01-02" }}" pubdate>
          {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
        </time>
      </i>
    </p>
  {{ end }}
  <content>{{ .Content }}</content>
  
  <script src="https://giscus.app/client.js"
  data-repo="omnetrix/tamzidr"
  data-repo-id="R_kgDOJfV-ag"
  data-category="General"
  data-category-id="DIC_kwDOJfV-as4CXdIJ"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="light"
  data-lang="en"
  crossorigin="anonymous"
  async>
</script>

  <div class="giscus"></div>

  <p>
    {{ range (.GetTerms "tags") }}
      <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
    {{ end }}
  </p>
{{ else }}
  <h1>{{ .Title }}</h1>
  <content>{{ .Content }}</content>
{{ end }}
{{ end }}
