.banner {
  height: 150px; /* Adjust the height as per your requirements */
  background-size: cover;
  background-position: center;
  margin-bottom: 10px; /* Add margin to create spacing between banner and post */
}

.grid-item a {
  color: #383838;
  font-weight: 600;
  text-decoration: none;
  font-size: 1em;
}

p {
  margin: 5px;
}

.post-meta {
  display: flex;
}