/* Media query for smaller viewports */
@media screen and (max-width: 1024px) {
  #landing {
    margin-left: 5vw; 
    margin-right: 5vw; 
  }
} 

#landing {
  display: flex;
  height: ;
}

#contact-card {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

#contact-card img {
    width: 20vw;
    height: 30vw;
    object-fit: cover;
  }

  
  #contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    align-items: flex-start;
  }
  
.contact-card__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  }

  .feed-item {
    border-width:1px;
    border-style:solid;
    border-color:#cfcfcf;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
.sub-grid {
  display: flex;
  gap: 10px;
}