/* Everything */
html, body {
  height: 100%;
  background-color: #FCF5DB;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #303030;
  margin: 0;
  padding: 0;
}

/* Header stuffs */
header {
  display: flex;
  width: auto;
  padding: 1vw;
}

header p {
  width: 100%;
}

/* Navbar */
nav {
  display: flex;
  height: 10vh;
  width: 100%;
}

li a {
  text-decoration: none;
  color: #303030;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Content */

main {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.h2_vocal {
  font-size: clamp(2rem, 2vw , 2.4vw);
  font-weight: 400;
  display: flex;
}
 
footer {
  display: flex;
  flex-direction: column;
  background: #303030;
  width: auto;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-bottom: 1.5vw;
  padding-top: 1.0vw;

}

footer div {
  flex-direction: row;
  display: flex;
}
