// Variables
$main-font: 'Open Sans';
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-xl: 1200px;

// Colors
  // Light mode

$primary-color: #2c493a;
$primary-color-text: #e6efd0;

$secondary-color: #24242c;
$secondary-color-text: white;

$tertiary-color: #e6efd0;
$tertiary-color-text: #2c493a;

$background-color: #ffffff;
$background-text-color: #000000;

$surface-color: white;
$surface-color-text: black;

$error-color: red;
$error-color-text: black;

// General Styles
body {
  height: 100%;
  background-color: $background-color;
  font-weight: 400;
  color: $background-text-color;
  padding: 0;
  margin: 0;
  font-family: $main-font, sans-serif;
  display: flex;
  flex-direction: column;
}

h2, li, p{
  font-family: $main-font;
}


h2 {
  font-weight: 600;
  font-size: 2rem;
}



// Header Styles
header {
  height: 20%;

  p {
    width: 100%;
  }
}

// Navbar Styles
nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1vh;

  .menu > * {
    width: 100%;
    text-decoration: none;
    color: $background-text-color;
    font-family: 'Work Sans', sans-serif !important;
  }

  > * {
    width: 100%;
  }

  .divider {
    width: 100%;
    height: 1px;
    border-top: 1px solid #dbdbdb;
    margin: 10px 0;
  }

  .menu {
    display: flex;
    width: 100%;
  }

  li a {
    text-decoration: none;
    color: $background-text-color;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

// Content Styles
footer {
  display: flex;
  flex-direction: column;
  width: auto;
  padding-bottom: 1.5vw;
  margin-top: 16px;

  * {
    font-family: 'Work Sans', sans-serif;
    color:#ffffff;
  }

  div {
    flex-direction: row;
    display: flex;
  }
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  gap: 16px;
  height: 100%;

  #contact-card {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    padding: 16px;
    padding-left: 0px;

    @media (max-width: $breakpoint-m) {
      flex-direction: column;
    }

    img {
      object-fit: cover;
      height: 37.5vh;
      align-self: flex-end;
    }

    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      align-items: flex-start;
      height: min-content;
      flex-wrap: wrap; // Sets the row height to fit the content

      > div {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto);
        grid-column-gap: 30px;
        height: fit-content;
        overflow-wrap:break-word;

        .grid-item {
          overflow: hidden;
          margin: 0.2rem;
          margin-left: 0;
        }
        
        }
      }
    }
  }

.primary-section {
  background-color: $primary-color;
  * {
    color: $primary-color-text;
  }

}

.secondary-section {
  background-color: $secondary-color;

  * {
    color: $primary-color-text;
  }

}

.tertiary-section {
  background-color: $tertiary-color;

  * {
    color: $tertiary-color-text;
  }

}


// Custom Styles
.max-vh {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (max-width: $breakpoint-s) {
    height: auto;
  }

}

.half-vh {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (max-width: $breakpoint-s) {
    height: auto;
  }

}

.margin {
  margin: 0 auto;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 3vmax 3vw;
    height: 100%;

     > * {
      padding-left: 16px;
      padding-right: 16px;
    }
    
}


