<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <link rel="stylesheet" href="{{ "/css/index.css" | relURL }}">
        <link rel="stylesheet" href="{{ "/css/blog.css" | relURL }}">
        <title>Blog</title>
    </head>
<body>
    <header>
        {{ partial "header.html" . }}
    </header>
    <main>
        <section id="landing">
            {{ partial "recent-posts.html" . }}
        </section>
    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
