@font-face {
    font-family: 'IBM Plex Mono', monospace;
    src: url('/fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

html {
    font-family: 'IBM Plex Mono', monospace;
}

:is(.dark .dark\:bg-neutral-800) {
    --tw-bg-opacity:1;
    background-color:rgb(0, 0, 0);
  }

  .prose {
    --tw-prose-invert-body: white;
  }
