<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <link rel="stylesheet" href="{{ "/css/index.css" | relURL }}">
    </head>
<body>
    <header>
        {{ partial "header.html" . }}
    </header>
    <main>
        <section id="landing">
            <article>
                <h2 class="h2_vocal">Lorem ipsum dolor sit amet consectetur. Amet faucibus at nec ut nisl pulvinar a. Habitasse lectus sed ultrices amet et dignissim aliquam at vestibulum. Mauris volutpat sit diam aliquam consectetur at tristique ullamcorper. Aliquet vel eu suspendisse malesuada iaculis magna interdum hendrerit scelerisque. Sit dignissim convallis blandit gravida id. Felis magna cras aliquet nibh. Mi in ullamcorper posuere blandit mauris ullamcorper nibh.</h2>
            </article>
            <div id="contact-card">
                <img src="{{ "images/tamzid_garden.png" | relURL }}" alt="Tamzid's Garden">
                <div id="contact-info">
                    <p style="font-weight: bold;text-decoration: underline;">Contact</p>
                    <div class="contact-card__grid">
                        <div class="grid-item">Email</div>
                        <div class="grid-item">tamzidr26@gmail.com</div>
                    </div>                      
                </div>
            </div>
        </section>
    </main>
    <footer>
        {{ partial "footer.html" . }}
    </footer>
</body>
</html>
