<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  {{ partial "head.html" . }}
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>

<body>
  
  <section class="max-vh">
    <header>
      {{ partial "header.html" . }}
    </header>
    <div class="landing">
      <h2 class="vocal">
        <span class="description">Profile</span> Lorem ipsum dolor sit amet consectetur. Amet faucibus at nec ut nisl
        pulvinar a. Habitasse lectus sed ultrices amet et dignissim aliquam at vestibulum. Mauris volutpat sit diam
        aliquam consectetur at tristique ullamcorper. Aliquet vel eu suspendisse malesuada iaculis magna interdum
        hendrerit scelerisque. Sit dignissim convallis blandit gravida id. Felis magna cras aliquet nibh. Mi in
        ullamcorper posuere blandit mauris ullamcorper nibh.
      </h2>
      <div id="contact-card">
        <img src="{{ "images/tamzid_garden.png" | relURL }}" alt="Tamzid's Garden"> 
        <div id="contact-info">
          <p class="contact-heading">Contact</p>
          <div class="contact-card__grid">
            <div class="grid-item"><b>Email:</b></div>
            <div class="grid-item">tamzidr26@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="max-vh">
    <p>free stuff(book notes) + latest vids</p>
  </section>
  <section class="max-vh">
    <p>now you gotta subscribe to my mailing list</p>
  </section>
  <section class="max-vh">
    <p>more of my content -> blog posts if ur interested -> yeah just research this to what is most effective</p>
  </section>
  
  <footer>
    {{ partial "footer.html" . }}
  </footer>
  
  <script src="index.js"></script>
</body>

</html>
